<form [formGroup]="form" (ngSubmit)="onSubmit()" class="sample-form" aria-live="polite">
    <!-- All errors in form -->
    <div *ngIf="badSubmit">
        <p class="error-group">Errors:</p>
        <div *ngIf="password?.invalid && (password?.dirty || password?.touched)" class="error-group">
            <span *ngIf="password?.errors?.minlength">
                <i>*Password must be at least 8 characters long.</i>
            </span>
            <span *ngIf="password?.errors?.required">
                <i>*Password is required.</i>
            </span>
            <span *ngIf="password?.errors?.needsSpecial">
                <i>*Password must include at least 1 special character.</i>
            </span>
            <span *ngIf="password?.errors?.needsUpper">
                <i>*Password must include at least 1 upper case letter.</i>
            </span>
        </div>
        <div *ngIf="email?.invalid && (email?.dirty || email?.touched)" class="error-group">
            <span *ngIf="email?.errors?.required">
                <i>*Email is required.</i>
            </span>
            <span *ngIf="email?.errors?.email">
                <i>*Email address is not valid.</i>
            </span>
        </div>
    </div>

    <div class="card">
        <!-- Email Field -->
        <div class="control-group">
            <label for="email">Email Address:</label>
            <input formControlName="email" id="email" name="email" type="text">

            <!-- Error messages -->
            <div *ngIf="email?.invalid && (email?.dirty || email?.touched)" class="error-group">
                <span *ngIf="email?.errors?.required">
                    <i>*Email is required.</i>
                </span>
                <span *ngIf="email?.errors?.email">
                    <i>*Email address is not valid.</i>
                </span>
            </div>
        </div>
        

        <!-- Status Dropdown Field -->
        <div class="control-group">
            <label for="status">Status Level:</label>
            <select formControlName="status" id="status" name="status">
                <option *ngFor="let statusItem of statusList" [ngValue]="statusItem">
                    {{ statusItem }}
                </option>
            </select>
        </div>
        

        <!-- Password Field -->
        <div class="control-group">
            <label for="password">Password:</label>
            <input formControlName="password" id="password" name="password" type="password">

            <!-- Render errors after user stops typing -->
            <div *ngIf="password?.invalid && (password?.dirty || password?.touched)" class="error-group">
                <span *ngIf="password?.errors?.minlength">
                    <i>*Password must be at least 8 characters long.</i>
                </span>
                <span *ngIf="password?.errors?.required">
                    <i>*Password is required.</i>
                </span>
                <span *ngIf="password?.errors?.needsSpecial">
                    <i>*Password must include at least 1 special character.</i>
                </span>
                <span *ngIf="password?.errors?.needsUpper">
                    <i>*Password must include at least 1 upper case letter.</i>
                </span>
            </div>
        </div>
        

        <!-- Buttons -->
        <div>
            <button class="half primary" (click)="submitForm()">Submit</button>
            <button class="half" (click)="clearForm()" [disabled]="!form.dirty">Clear</button>
        </div>
    </div>
</form>
